body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2vw;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
}
h2{
    text-align: center;
}
#search-form {
    text-align: center;
    margin-bottom: 1.5vw;
}
#search-input {
    padding: 0.2vw;
    font-size: 1vw;
    width: 15vw;
    margin-right: 1vw;
}
button {
    padding: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
}
#data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
.item {
    width: 10vw;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1vw;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.item p {
    margin: 0.2vw 0;
}
#result-count {
    text-align: center;
    font-size: 1vw;
    margin: 10px 0;
    font-weight: bold;
}